:root {
	--checkbox-marker-mid-color: var(--checkbox-3-state);
	--checkbox-marker-mid-color-hover: var(--checkbox-3-state-accent);
}

input[type="checkbox"][data-task="/"] {
	background-color: var(--checkbox-marker-mid-color);
	border-color: var(--checkbox-marker-mid-color);
	-webkit-mask-image: none;
}
input[type="checkbox"][data-task="/"]:hover {
	background-color: var(--checkbox-marker-mid-color-hover);
	border-color: var(--checkbox-marker-mid-color-hover);
	-webkit-mask-image: none;
}
